{% load static %}
{% extends "layout.html" %}
{% block content %}



       <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" style="display: inline-block;" >
          <div class="tile_count">
            
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-product-hunt"></i>Productos</span>
              <div class="count">{{lstProductos|length}}</div>
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fas fa-inventory"></i> Stock Total</span>
              <div class="count green">{{total_stock}}</div>
            </div>
          
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total de Usuarios</span>
              <div class="count">{{lista_usuarios|length}}</div>

          </div>
          <form method="post" action="{% url 'inventarioComputo:prediccion' %}" align="center">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary btn-block"
            value="Generar Predicción">
        </div>
        <div class="row" >
          <div class="column" >
            {% include 'chart2.html' %}
            </div>
            
      </div>
      
    <br>
    <br>
        {% include 'dashboard.html' %} 
        {% include 'chart.html' %}
        
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>




{% endblock %}