{% extends "layout.html" %}
{% block content %}

<div class="right_col" role="main">
    <h1>Lista de Productos</h1>
    {% block buscador %}

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
    method="POST">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
    
    {% endblock buscador %}

            <table class="table border-secondary">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripción del producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% for producto in lstProductos %}
                  <tr>
                    <th scope="row">{{ producto.id }}</th> 
                    <td>{{ producto.des_producto }}</td>
                    <td>S/. {{producto.pre_venta_oferta}}</td>
                    <td>{{producto.stk_minimo}}</td>
                    <td><a class="btn btn-outline-dark mt-auto" href="{% url 'inventarioComputo:editarProducto' producto.id %}">Editar</a></td>
                    <td><a class="btn btn-outline-dark mt-auto" href="{% url 'inventarioComputo:eliminarProducto' producto.id %}">Eliminar</a></td>
                  </tr>
                  {% endfor %}                  
                </tbody>
              
              </table>

</div>
{% endblock %}