<link rel="stylesheet" href="static/style/style.css">
<a href="/" class="previous">&laquo; Regresar</a>
<div class="about-section">
    <h1>Acerca de nuestro proyecto</h1>
    <p>Este sistema de inventario fue creado por los alumnos Alonso Gutelius y Diego Linares 
        como parte de un trabajo de investigación realizado como parte de los cursos de Proyectos I Proyectos II con fines educativos
        en el año 2023. Este proyecto fue realizado utilizando herramientas de computación en nube como
        AWS e Inteligencia Artificial haciendo uso de Python.</p>
  </div>
  
  <h2 style="text-align:center">Aquí te mostramos 3 tecnologías que utilizamos para este proyecto:</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="static/img/logo-python.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Python</h2>
          <p class="title">Ciencia de Datos</p>
          <p>Se hizo uso de librerías de Machine Learning de Python como pandas, sci kit learn y plotly.</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="static/img/aws-logo.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>AWS</h2>
          <p class="title">Servicios Web</p>
          <p>Se utilizaron las herramientas de los servicios web de Amazon para poder desplegar la solución en la nube y garantizar la disponibilidad del sistema.</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="static/img/django-logo.png" alt="John" style="width:100%">
        <div class="container">
          <h2>Django</h2>
          <p class="title">Framework</p>
          <p>Django es un marco de trabajo para aplicaciones web que permitió al sistema poder contar con herramientas para gestionar las peticiones HTTP y desarrollar el presente sistema web.</p>
        </div>
      </div>
    </div>
  </div>

