{% extends "layout.html" %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{ producto.des_producto }}</h1>
                <div class="fs-5 mb-5">
                    <span>S/. {{ producto.pre_venta_oferta }}</span>
                </div>
                 <div class="fs-5 mb-5">
                    <span>S/. {{ producto.stk_minimo }}</span>
                </div>
                <p class="lead"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}



